<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spare Parts</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" />

</head>

<body>

<header>
  <div class="container">
  <nav>
    <ul>
      <li><a href="index.html">Spare Parts</a></li>
      <li><a href="rails.html">Rails</a></li>
      <li><a href="code-notes.html">Code Notes</a></li>
    </ul>
  </nav>
  <a href="https://github.com/Magnus-G/Spare-Parts/edit/gh-pages/code-notes.html"><div class="header-controls">Edit</div></a>
  </div>
</header>


<div class="container">
<div id="example1">

  <section>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Git</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="undo-a-certain-file">Undo a certain file</h3>
  <p>Checkout the filename or the folder you want to undo</p>
  <xmp>
  git checkout app/views/filename
  </xmp>
  </article>


  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="undo-a-certain-file">Log, Graph style</h3>
  <xmp>
  git log --oneline --decorate --all --graph
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="git-alias-for-shorthand">Git alias for shorthand</h3>
  <xmp>
  vim ~/.gitconfig
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="squashing-rebase">Squashing rebase</h3>
  <xmp>
  git rebase -i master
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Wordpress</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="bitnami">Bitnami</h3>
  <p></p>
  <ul>
    <li>Install bitnami</li>
    <li>Download latest wordpress</li>
    <li></li>
    <li>Have manager-osx running</li>
    <li></li>
  </ul>
  <xmp>

  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="wp-local">Wordpress</h3>
  <p></p>
  <ul>
    <li>Install MAMP</li>
    <li>Start servers, set apache to 9999</li>
    <li>Download latest wordpress</li>
    <li>Install Sequel Pro</li>
    <li>Go to "Socket" and click Connect (should be local, root, root). If servers don't start, turn off mysqld process in Activity Manager.</li>
    <li>Choose database, Add database, call it wordpress.</li>
    <li>wp-config-sample.php (rename it to wp-config.php)</li>
    <li>open in text editor.</li>
    <li>change database to "wordpress". username: root, password: root</li>
    <li>go to localhost:9999 (or http://localhost:9999/wp-admin/install.php) and setup the local name etc for local files.</li>
    <li></li>
  </ul>
  <ul>

    <li>Work locally: go to localhost:9999/wp-admin to log in</li>
  </ul>
  <xmp>

  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="create-child-theme">Create Child Theme</h3>
  <p></p>
  <ul>
    <li>Use the BLANK-Theme by Chris Coyier</li>
    <li>Create new folder in themes.</li>
    <li>Create a style.css in that folder and enter this in there:</li>
  </ul>
  <xmp>
  /*
  Theme Name: gameface
  Description: gameface theme based on the BLANK-Theme
  Author: Your name here
  Template: BLANK-Theme
  */

  @import url("../BLANK-Theme/style.css");

  body {
    background-color: green;
  }
  </xmp>

  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>GH-pages</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="gh-pages">gh-pages</h3>
  <p></p>
  <ul>
    <li></li>
    <li></li>
  </ul>
  <xmp>

  </xmp>
  </article>


  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Installations</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="installing-bourbon">Installing bourbon</h3>
  <a href="http://bourbon.io/ ">Bourbon</a>
  <p>Add the following line in your Gemfile:</p>
  <xmp>
  gem 'bourbon'
  </xmp>
  <p>In the command line, enter:</p>
  <xmp>
  bundle install
  </xmp>
  <p>Restart your server ("rails s" in the command line). Then rename application.css to application.css.scss</p>
  <p>in application.css.scss, delete the folliwing line:</p>
  <xmp>
  *= require_tree .
  </xmp>
  <p>Import Bourbon at the beginning of application.css.scss. All additional stylesheets must be imported below Bourbon:</p>
  <xmp>
  @import "bourbon";
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="installing-neat">Installing neat</h3>
  <a href="http://neat.bourbon.io/">Neat</a>
  <p>First: Install Bourbon (see above). Add the following line in your Gemfile:</p>
  <xmp>
  gem 'neat'
  </xmp>
  <p>In the command line, enter:</p>
  <xmp>
  bundle install
  </xmp>
  <p>If you run into 'Bundler could not find compatible versions for gem "sass"', then enter:</p>
  <xmp>
  bundle update sass
  </xmp>
  <p>Within your application.css.scss file place the following on top:</p>
  <xmp>
  @import "bourbon";
  @import "neat";
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="installing-bootstrap">Installing Bootstrap</h3>
  <a href="http://bootstrap.com">Bootstrap</a>
  <p>Simple and quick way is to download the customized css file from the bootstrap site, rename it to bootstrap.css.scss and import it in the application.css.scss file after bourbon and neat:</p>
  <xmp>
  @import "bootstrap.css.scss";
  </xmp>
  </article>


  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Fonts</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <article>
  <h3 id="fontello">Fontello</h3>

  <a href="http://fontello.com/">Fontello</a>

  <ul>
    <li>Select files</li>
    <li>Download them and place the font files in assets/fonts</li>
    <li>In the HTML, declare the icon:</li>
  </ul>
  <xmp>
  <i class="icon-export"></i>
  </xmp>

  <p>In the SCSS, make sure all the file types are called for:</p>
  <xmp>
  @font-face {
  font-family: 'fontello';
  src: url('fontello.eot');
  src:url('fontello.eot?#iefix') format('embedded-opentype'),
  url('fontello.svg#icomoon') format('svg'),
  url('fontello.woff') format('woff'),
  url('fontello.ttf') format('truetype');
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  }

  .icon-export:before { content: '\e715'; } /* '' */
  </xmp>
  </article>



  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Forms</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="formtastic">Formtastic</h3>

  <a href="http://rdoc.info/github/justinfrench/formtastic">Formtastic</a>

  <h4>Changing a label for an input</h4>
  <xmp>
  <%= f.input :defaultname, label: 'Not the default name' %>
  If 'label:' is not used the label will read whatever the default name is.
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h4>Number of rows for text area</h4>
  <xmp>
  <%= f.input :textareaname, input_html: {rows: 10} %>
  input_html: can be used for other things such as disabling text fields.
  </xmp>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h3 id="simple-form">Simple form</h3>

  <a href="https://github.com/plataformatec/simple_form">Simple form</a>

  <h4>Add generic text field</h4>

  <%= text_field :logo, as: :file, label: "Race Logo" %>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h4>Add class to an input</h4>
  <xmp>
  <%= f.button :submit, :class => "btn" %>
  </xmp>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h4>Textarea</h4>
  <xmp>
  <%= f.input :lesson, :as => :text, :input_html => { :rows => 2 } %>
  </xmp>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  </div>
  </section>



</div>
</div><!-- container -->



<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'></script>
<script type='text/javascript' src='lib/jquery.erToc.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
    $('#example1').erToc({'goTopNode':'#example1', 'startLevel': 'h2', 'numberedSuffix':'. '});
    $('#example2').erToc({'goTopNode':'#example2', 'startLevel': 'h2', 'tocScroll': false});
    $('#example3').erToc({'goTopNode':'#example3', 'startLevel': 'h2', 'numbered': false, 'tocClass': 'er_toc er_toc_disc'});
});
</script>

</body>

</html>








