<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Spare Parts</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico" />

</head>

<body>

<header>
<div class="container">
  <!-- <div class="logo">Spare Parts</div> -->
  <nav>
    <ul>
      <li><a href="index.html">Spare Parts</a></li>
      <li><a href="rails.html">Rails</a></li>
      <li><a href="code-notes.html">Code Notes</a></li>
    </ul>
  </nav>
  <a href="https://github.com/Magnus-G/Spare-Parts/edit/gh-pages/rails.html"><div class="header-controls">Edit</div></a>
  </div>
</header>

<div class="container">
<div id="example1">

  <section>
  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <div class="rails">
  <h2>Rails</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="create-a-rails-project">Creating a Rails project</h3>
  <p>With the command line, navigate to where you want the project folder to be generated (e.g. documents/my_rails_projects/) and type the following to create a project called project_name:</p>
  <xmp>
  rails new project_name
  </xmp>
  <p>Navigate to that folder and type the following to create a controller called posts:</p>
  <xmp>
  rails g controller posts
  </xmp>
  <p>In text editor, open the file project_name/app/controllers/posts_controller and make sure it says:</p>
  <xmp>
  class PostsController < ApplicationController
  def index
  end
  end
  </xmp>
  <p>Navigate to project_name/app/views/posts/ and create the file index.html.erb in that folder. Open project_name/config/routes.rb and under the first row, enter:</p>
  <xmp>
  resources :posts
  </xmp>
  <p>With the command line tool, make sure you are have navigated to the project folder, then type:</p>
  <xmp>
  rails s
  </xmp>
  <p>In your browser, go to localhost:3000/posts. To stop the server, hit ctrl-C.</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="generate-controller">Generate a controller and action</h3>
  <xmp>
  rails g controller <controller name> <action>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="change-layout-for-controller">Change layout for entire Controller</h3>
  <xmp>
  class ProductsController < ApplicationController
  layout "inventory"
  end
  </xmp>
  <p>In the 'layouts' folder under 'views' you can save different layout styles. In the controller you specify which layout will be used.</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="push-to-staging">Push to staging</h3>
  <xmp>
  git remote show
  </xmp>
  <p>Result should say "origin" as well as "staging". If not "staging" then type:</p>
  <xmp>
  git remote add staging git@heroku.com:projectname-staging.git
  </xmp>
  <p>Try git remote show again. Then push master to staging:</p>
  <xmp>
  git push staging master
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="embed-javascript">Embed Javascript</h3>
  <p>In the assets > javascripts > application.js add:</p>
  <xmp>
  //= require filename.js
  </xmp>
  <p>Put any js action at the end of the application.js file</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="localhost-on-the-iphone">Localhost on the iPhone</h3>
  <p>Go to "Open Network Preferences" and copy the ip to the iPhone. Make sure to be on the same wifi as the laptop.</p>
  <xmp>
  192.168.xx.xx:3000
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>Rails Issues</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="undefined-method">Undefined method</h3>
  <p>If "undefined method `body' for..."</p>
  <xmp>
  rake db:migrate
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="database-does-not-exist">Database does not exist</h3>
  <p>If "database ... does not exist":</p>
  <xmp>
  rake db:create db:migrate
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="server-doesnt-start">Server doesn't start</h3>
  <xmp>
  bundle exec rake db:migrate
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="cant-convert-symbol-to-integer">Can't convert symbol to integer</h3>
  <p>Restart server</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="segmentation-fault">[BUG] Segmentation fault</h3>
  <xmp>
  gem uninstall sqlite3
  gem install sqlite3
  bundle install
  rvm use ruby-1.9.3-p194
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="psych-error">Psych error</h3>
  <xmp>
  gem uninstall psych
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>HTML.ERB</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3>Install Bourbon</h3>
  <a href="http://vimeo.com/53607129">Screencast tutorial</a>
  </article>

  <article>
  <h3 id="create-a-text-link">Create a text link</h3>
  <a href="http://guides.rubyonrails.org/routing.html">Routing in Ruby on Rails</a>
  <xmp>
  <%= link_to 's', terms_path %>
  </xmp>
  <p>"Terms" is the text shown for the link. The path needs to exist in config/routes.rb e.g.
  get 'terms', to: 'welcome#terms' for the link to the page "terms" under the folder "welcome". Restart server after updating the rb file.</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->


  <article>
  <h3 id="image-as-link-declared-in-html">Image as link, declared in the HTML</h3>
  <xmp>
  <%= link_to root_path, :id => "root" do %>
  <img />
  <% end %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="image-as-a-link-delcared-in-scss">Image as link, declared in the SCSS</h3>
  <xmp>
  <%= link_to('', root_path, class: 'my_image') %>
  </xmp>
  <p>In the SCSS, use the "my_image" class to add background-image, or other styling. The '' makes sure no text is used for the link.</p>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="external-link">External link</h3>
  <xmp>
  <%= link_to("http://www.dn.se") do %>
  <img />
  <% end %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="internal-link-as-button">Internal link as button</h3>
  <xmp>
  <%= button_to "This is a link button", root_path, :method => "get", class: 'btn' %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="internal-link-generated-page">Internal link as a button (specific page)</h3>

  <p>To link to a page that is created, that is specific, go to controllers and the correct controller file (e.g. if the page is a "race" then go to the "races_controller"). Find the</p>
  <xmp>
  def <name of the html you are working in>
  </xmp>

  <p>and copy the @race (or whatever has an @ in front of it). Then use this link code:</p>

  <xmp>
  <%= button_to "Back", race_path(@race), :method => "get", class: 'btn' %>
  </xmp>

  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="repeat-elements">Repeat elements</h3>
  <xmp>
  <% 3.times do %>
  <li></li>
  <% end %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="render-a-partial">Render a partial</h3>
  <xmp>
  <%= render 'folder/sidebar' %>
  </xmp>
  <p>When saving partials, make sure their names start with an underscore and have the file type _PARTIAL.html.erb. They should not be called with an underscore though.</p>
  <xmp>
    <%= render purchaseable.events, section: purchaseable %>
  </xmp>
  <p>This renders an array of events from the 'events' folder</p>

  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="area-that-appears-on-many-pages">Area that appears on many pages</h3>
  <p>In the layout/application.html.erb</p>
  <xmp>
  <%= yield :top_container %>
  </xmp>
  <p>On the specific page</p>
  <xmp>
  <% content_for :top_container do %>
  ...content...
  <% end %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="insert-image-with-class">Insert an image with a class</h3>
  <xmp>
  <%= image_tag('divider_arrow.png', :class => "arrow") %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="insert-image-with-asset-pipeline">Insert an image using the asset pipeline</h3>
  <xmp>
  <%= image_tag("foo.png") %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <article>
  <h3 id="linking-javascript-assets">Linking Javascript assets</h3>
  <xmp>
  <%= javascript_include_tag "main", "columns" %>
  </xmp>
  </article>
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="linking-stylesheet-assets">Linking Stylesheet assets</h3>
  <xmp>
  <%= stylesheet_link_tag "main", "columns" %>
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <h2>SCSS in Rails</h2>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="css-image-assets">CSS Image Assets</h3>
  <xmp>
  background: image_url("image.png");
  </xmp>
  </article>
  <!-- /////////////////////////////////////////////////////////////////////////////// -->

  <article>
  <h3 id="cant-find-class-in-ruby">Can't find an id or class in ruby?</h3>

  <p>Looking for flash_success could be in the format:</p>
  <xmp>
  flash[:success]
  </xmp>
  </article>

  <!-- /////////////////////////////////////////////////////////////////////////////// -->

</section>

</div>
</div><!-- container -->



<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js'></script>
<script type='text/javascript' src='lib/jquery.erToc.min.js'></script>
<script type='text/javascript'>
$(document).ready(function() {
    $('#example1').erToc({'goTopNode':'#example1', 'startLevel': 'h2', 'numberedSuffix':'. '});
    $('#example2').erToc({'goTopNode':'#example2', 'startLevel': 'h2', 'tocScroll': false});
    $('#example3').erToc({'goTopNode':'#example3', 'startLevel': 'h2', 'numbered': false, 'tocClass': 'er_toc er_toc_disc'});
});
</script>

</body>

</html>








