/* line 31, style.scss */
html {
  height: 100%;
}

/* line 35, style.scss */
header {
  width: 100%;
  height: 60px;
  background-color: #4d4d4d;
  box-shadow: 0 1px 3px #4d4d4d;
  color: white;
  overflow: auto;
  padding: 0 10px;
}
/* line 44, style.scss */
header .logo {
  float: left;
  font-size: 20px;
  line-height: 60px;
  margin-right: 20px;
}
/* line 51, style.scss */
header nav {
  float: left;
}
/* line 54, style.scss */
header nav a {
  float: left;
}
/* line 58, style.scss */
header nav ul {
  margin: 0;
  padding: 0;
}
/* line 62, style.scss */
header nav ul li {
  display: inline;
}
/* line 65, style.scss */
header nav ul li a {
  display: inline;
  line-height: 60px;
  padding: 0 40px;
  border-right: 1px solid #343434;
}
/* line 73, style.scss */
header nav ul li:first-child a {
  border-left: 1px solid #343434;
}
/* line 79, style.scss */
header .header-controls {
  float: right;
  border-left: 1px solid #343434;
  line-height: 60px;
  padding: 0 40px;
}

/* line 87, style.scss */
body {
  background-color: gray;
  font-family: helvetica;
  height: 100%;
  margin: 0;
}

/* line 94, style.scss */
p {
  font-size: 13px;
  color: black;
}

/* line 99, style.scss */
h2 {
  color: black;
  line-height: 39px;
  border-bottom: 1px solid #666666;
}

/* line 105, style.scss */
h3 {
  color: #1a1a1a;
  text-shadow: 0 1px 1px #b3b3b3;
}

/* line 109, style.scss */
h4 {
  margin: 0;
  color: black;
  border-bottom: 1px solid #666666;
  text-transform: uppercase;
  font-size: 13px;
  padding: 13px 0 6.5px 0;
  margin-bottom: 13px;
}

/* line 119, style.scss */
a {
  font-size: 13px;
  color: #ffff66;
  text-decoration: none;
  line-height: 20.8px;
  text-shadow: 0 1px 1px #333300;
}
/* line 126, style.scss */
a:hover {
  color: white;
}

/* line 131, style.scss */
.container {
  max-width: 1200px;
  margin: auto;
}

/* line 136, style.scss */
aside {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
}
/* line 142, style.scss */
aside ul {
  position: fixed;
  padding: 0;
}
/* line 146, style.scss */
aside ul li {
  list-style: none;
}
/* line 150, style.scss */
aside .todo {
  position: fixed;
  top: 900px;
  font-size: 13px;
  color: black;
}
/* line 155, style.scss */
aside .todo p {
  margin: 0;
  padding: 0;
}

/* line 162, style.scss */
section {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 167, style.scss */
section ul {
  padding: 0 0 0 26px;
}
/* line 169, style.scss */
section ul li {
  font-size: 13px;
  margin-bottom: 6.5px;
  color: black;
}
/* line 173, style.scss */
section ul li span {
  font-style: italic;
}
/* line 176, style.scss */
section ul li a {
  display: inline;
}

/* line 183, style.scss */
xmp {
  box-shadow: inset 0 1px 2px #676767, 0 1px 1px #9a9a9a;
  background-color: #787878;
  border: 1px solid #717171;
  border-radius: 3px;
  color: black;
  margin: 0;
  margin-bottom: 39px;
  padding: 0 26px 26px;
}

/* line 238, style.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  padding: 8px 8px;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20.8px;
  color: black;
  vertical-align: middle;
}

/* line 249, style.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 4px 0;
  *margin-top: 0;
  /* IE7 */
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
