/* line 3, style.scss */
html {
  height: 100%;
}

/* line 7, style.scss */
body {
  font-family: helvetica;
  height: 100%;
}

/* line 12, style.scss */
a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  line-height: 19.2px;
}

/* line 19, style.scss */
.container {
  max-width: 960px;
  margin: auto;
}

/* line 24, style.scss */
aside {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
}
/* line 30, style.scss */
aside ul {
  position: fixed;
  padding: 0;
}
/* line 34, style.scss */
aside ul li {
  list-style: none;
}

/* line 40, style.scss */
section {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}

/* line 47, style.scss */
pre {
  background-color: #EEE;
  margin: 0;
  padding: 0;
}

/* line 53, style.scss */
xmp {
  margin: 0;
  padding: 0;
}
