/* line 18, style.scss */
html {
  height: 100%;
}

/* line 22, style.scss */
header {
  width: 100%;
  height: 60px;
  background-color: black;
  color: white;
  overflow: auto;
  padding: 0 10px;
}
/* line 30, style.scss */
header .logo {
  float: left;
  font-size: 20px;
  line-height: 60px;
  margin-right: 20px;
}
/* line 37, style.scss */
header .header-controls {
  float: right;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  line-height: 60px;
  padding: 0 40px;
}
/* line 45, style.scss */
header nav {
  float: left;
}
/* line 47, style.scss */
header nav a {
  float: left;
}
/* line 51, style.scss */
header nav ul {
  margin: 0;
  padding: 0;
}
/* line 55, style.scss */
header nav ul li {
  display: inline;
}
/* line 57, style.scss */
header nav ul li a {
  display: inline;
  line-height: 60px;
  padding: 0 40px;
  border-right: 1px solid gray;
}
/* line 64, style.scss */
header nav ul li:first-child a {
  border-left: 1px solid gray;
}

/* line 71, style.scss */
body {
  background-color: #fafafa;
  font-family: helvetica;
  height: 100%;
  margin: 0;
}

/* line 78, style.scss */
p {
  font-size: 12px;
  color: #616161;
}

/* line 83, style.scss */
h2 {
  color: #616161;
  line-height: 36px;
  border-bottom: 1px solid #c7c7c7;
}

/* line 89, style.scss */
h3 {
  color: #949494;
  text-shadow: 0 1px 1px white;
}

/* line 93, style.scss */
h4 {
  margin: 0;
  color: #616161;
  border-bottom: 1px solid #c7c7c7;
  text-transform: uppercase;
  font-size: 12px;
  padding: 12px 0 6px 0;
  margin-bottom: 12px;
}

/* line 103, style.scss */
a {
  display: block;
  font-size: 12px;
  color: #00b3b3;
  text-decoration: none;
  line-height: 19.2px;
}

/* line 111, style.scss */
.container {
  max-width: 1200px;
  margin: auto;
}

/* line 116, style.scss */
aside {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;
}
/* line 122, style.scss */
aside ul {
  position: fixed;
  padding: 0;
}
/* line 126, style.scss */
aside ul li {
  list-style: none;
}
/* line 130, style.scss */
aside .todo {
  position: fixed;
  top: 900px;
  font-size: 12px;
  color: #616161;
}
/* line 135, style.scss */
aside .todo p {
  margin: 0;
  padding: 0;
}

/* line 142, style.scss */
section {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}
/* line 147, style.scss */
section ul {
  padding: 0 0 0 24px;
}
/* line 149, style.scss */
section ul li {
  font-size: 12px;
  margin-bottom: 6px;
  color: #616161;
}
/* line 153, style.scss */
section ul li span {
  font-style: italic;
}
/* line 156, style.scss */
section ul li a {
  display: inline;
}

/* line 163, style.scss */
xmp {
  box-shadow: inset 0 1px 2px #e0e0e0, 0 1px 1px white;
  background-color: #f2f2f2;
  border-radius: 3px;
  color: #7a7a7a;
  margin: 0;
  margin-bottom: 36px;
  padding: 0 24px 24px;
}

/* line 191, style.scss */
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  display: inline-block;
  padding: 8px 8px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 19.2px;
  color: black;
  vertical-align: middle;
}

/* line 202, style.scss */
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 4px 0;
  *margin-top: 0;
  /* IE7 */
  margin-top: 1px \9;
  /* IE8-9 */
  line-height: normal;
}
