$font-size: 12px;

html {
  height: 100%;
}

body {
  font-family: helvetica;
  height: 100%;
}

a {
  display: block;
  font-size: $font-size;
  text-decoration: none;
  line-height: $font-size *1.6;
}

.container {
  max-width: 960px;
  margin: auto;
}

aside {
  width: 20%;
  float: left;
  position: relative;
  height: 100%;

  ul {
    position: fixed;
    padding: 0;

    li {
      list-style: none;
    }
  }
}

section {
  width: 80%;
  float: right;
  margin: 0;
  padding: 0;
}

pre {
  background-color: #EEE;
  margin: 0;
  padding: 0;
}

xmp {
 margin: 0;
 padding: 0;
}
